.red-background {
    background-color: red;
}
body{
  background-color: #A52A2A;
}

th {
    text-align: left;
}

table,
td,
th {
    border: 1px solid black;
}

table {
  text-align:
    border-collapse: collapse;
    width:100%;
}

tr.even {
    text-align: left;
    background-color: blue;
}

h1{
  text-align: center;
}
